logs/
.env
instance/
migrations/
venv/
__pycache__/
test/
uploads/
profile_pics/
Flask-Seo/
ngrok.exe
dist/
build/
.webassets-cache
*.pyc
backups/
*.conf
*.service
tunedessays
*1.js
*1.css
*1.html
*1.py
*.json
tail_src/
node_modules
*.config
*.docx
*.pdf
